
1. What are data structures, and why are they important?

-    In Python, data structures are built-in ways to organize and store data efficiently.

-    Examples: list, tuple, dict, set.

2. Difference between mutable and immutable data types?

-    Mutable: Can be changed after creation. Example: list, dict, set.

     Immutable: Cannot be changed after creation. Example: str, tuple, int.

3. Main differences between Lists and Tuples in Python?

-    Syntax: Lists are written with square brackets [ ], while tuples are written with parentheses ( ).

-    Mutability: Lists are mutable (can be changed after creation), but tuples are immutable (cannot be changed).

4. How dictionaries store data?
-    Python dictionaries store data as key-value pairs.

-    Keys are unique and hashable, and values can be anything.

5. Why use a set instead of a list in Python?

-    Automatically removes duplicates.

  -  Best when order doesn’t matter.

6. What is a string in Python, and how is it different from a list?

-    A string is a sequence of characters, immutable.

-    A list is a sequence of elements, mutable.

-    Strings can’t be modified in-place, lists can.

7. How tuples ensure data integrity in Python?

-    Tuples are immutable, so values cannot be changed once set.

-    This ensures that data remains constant and secure.

8. What is a hash table, and its relation to dictionaries?

-    A hash table stores data in memory using a hash function for indexing.


9. Can lists contain different data types in Python?

-    Yes, Python lists can hold mixed data types like integers, strings, objects, or even lists.

10. Why strings are immutable in Python?

-   For performance optimization and hashability.

-   Immutability ensures safe sharing of string objects without accidental changes.

11. Advantages of dictionaries over lists?


-   Easier to map unique keys to values instead of searching by index.

12. When to use a tuple instead of a list?

-   When you need fixed, constant data that should not change.

-   Example: coordinates, configuration settings, database keys.

13. How sets handle duplicate values?

-   Python sets automatically remove duplicates because they store unique elements only.

14. How the in keyword works differently for lists and dictionaries?

-   For a list, in checks if a value exists.

-   For a dictionary, in checks if a key exists, not a value.

15. Can you modify elements of a tuple? Why or why not?

-   No, tuples are immutable.

-   Once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and example use case?

-   A dictionary inside another dictionary.

-   Useful for representing hierarchical data (like student records or JSON data).

17. Time complexity of accessing elements in a dictionary?

-   Average: O(1) (fast, due to hashing).

-   Worst case: O(n) (if hash collisions happen, but rare).

18. When are lists preferred over dictionaries?

-   When order matters or when you just need sequential data storage.

-   Lists are better for index-based iteration.

19. Why dictionaries are considered unordered?

-   Conceptually unordered because access is key-based, not index-based.

20. Difference between a List and a Dictionary in terms of data retrieval:

-   A list stores elements in an ordered sequence and retrieves them using an index (e.g., lst[0]).

-   A dictionary stores data as key-value pairs and retrieves values using a key (e.g., dict["key"]).

-   Lists are best when you want to access elements by position.

-   Dictionaries are best when you want to access data using a meaningful label (key).

In [ ]:
# 1. Write a code to create a string with your name and print it?
str = input("Enter your name: ")
print(str)

Enter your name: yogesh
yogesh

In [ ]:
# 2. Write a code to find the length of the string "Hello World"?
str = "hello world"
print(len(str))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
str = "Python Programming"
print(str[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase?
str = "hello"
print(str.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str = "I like apple"
print(str.replace("apple","orange"))

I like orange

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it?
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list = ['a','b','c','d']
print(list[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].?
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.?
tup = (100,200,300)
print(type(tup))
print(tup)

<class 'tuple'>
(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
tuple = ('red','green','blue','yellow')
print(tuple[1:] )

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).?
tuple = (10,20,5,15)
print(min(tuple))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?
animals = ('dog','cat','rabbit')
print(animals.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?
fruits = ('apple','orange','banana')
if "kiwi" in fruits :
    print("kiwi is presnt")
else :
    print("kiwi is not present")

kiwi is not present

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.?
set = {'a','b','c'}
print(set)
print(type(set))

{'c', 'a', 'b'}
<class 'set'>

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?
set = {1,2,3,4,5}
print(set)
print(set.clear())

{1, 2, 3, 4, 5}
None

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.?
set = {1,2,3,4}
print(set.remove(4))
print(set)

None
{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?
set1 = {1,2,3}
set2 = {3,4,5}
unionset = set1.union(set2)
print(unionset)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?
set1 = {1,2,3}
set2 = {2,3,4}
intersectionset = set1.intersection(set2)
print(intersectionset)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?
dictionary = {"name" :"yogesh shinde","age": 20, "city" : "kopargaon"}
print(dictionary)

{'name': 'yogesh shinde', 'age': 20, 'city': 'kopargaon'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.?
dict = {"name" : "john" , "age" : 25}
dict["country"] = "USA"
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?
dict = {"name" : "alice" , "age" : 30}
print(dict["name"])

alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.?
dict = {"name" : "Bob", "age":22, "city":"New York"}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?
dict = {"name":"Alice" , "City" : "Paris"}

if "City" in dict :
  print("city exists")
else:
  print("city does not exits")

city exists

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.?
list = [1,2,3,4,5]
tuple = (77,88,99,100)
dict = {"name":"yogesh", "age": 45, "city" : "kopargaon"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(77, 88, 99, 100)
{'name': 'yogesh', 'age': 45, 'city': 'kopargaon'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)?
list = [34,56,78,65,67,55]
list.sort()
print(list)

[34, 55, 56, 65, 67, 78]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.?
list = ["apple","orange","banana","grapes","chickoo"]
print(list[3])

grapes

In [45]:
# 29. Write a code to combine two dictionaries into one and print the result.?
dict1 = {"name":"yogesh", "age":20}
dict2 = {"city":"kopargaon", "gender":"male"}
combine = {**dict1,**dict2}
print(combine)

{'name': 'yogesh', 'age': 20, 'city': 'kopargaon', 'gender': 'male'}

In [54]:
# 30. Write a code to convert a list of strings into a set.?
fruits = ["orange", "apple", "banana"]
fruit_set = set(fruits)
print(fruit_set)

TypeError: 'set' object is not callable